
<head>
    <title>stillsDB</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/flicks.css">
</head>

<body>
    <div class="title-box">
        <div class="title">
            stillsDB
        </div>
    </div>
    <div class="index-wrapper">
        <div>
            <div class="index-column-header">
            Hello!
            This site is currently down for repair while I seek public domain content.
            Thank you for visiting.
            <div>
            <% movies.forEach(function(movie) { %>
                <form class="button-box">
                    <input type="button" onclick="location.href='/m/<%= movie.title_encoded %>';" class="button" value="<%= movie.title %>">
                </form>
            <% }); %>
        </div>


    </div>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</body>
