
<head>
    <title>stillsDB</title>
    <link rel="stylesheet" type="text/css" href="/public/css/flicks.css">
    <link rel="stylesheet" type="text/css" href="/public/css/lightbox.css">
</head>
<body data-bind="event: { keydown: onKeyDown }">
    <div id="title" class="spaced centerContents" data-bind="text: title"></div>

<!-- lightbox stuff -->
    <a data-bind="attr: { href: hqUrl, 'data-title': 'fileName goes here'}" data-lightbox="iamnotsurewhatthisdoes" >
        <img id="preview-image" rel="lightbox" class="spaced centerContents force-fit" data-bind="attr: { src: previewUrl }" >
    </a>



    <div class="spaced seek-bar"  id="seek-bar" data-bind="event: { mousemove: onMouseMove, mouseover: onSeek, mouseout: offSeek, click: onClickSeekbar  }">
        <div id="tracer" class="tracer" data-bind="visible: tracerVisible, style: { width: tracerWidth }"></div>
        <div id="progress-bar" class="spaced progress-bar" data-bind="style: { width: seekPosition }">
            <div id="progress-mark" class="progress-mark" data-bind="style: { width: seekPosition }"></div>
        </div>
        <div id="thumbnail-container" class="thumbnail-container" data-bind="visible: thumbnailVisibility, style: { left: thumbnailOffsetX, top: thumbnailOffsetY }">
            <img id="thumbnail" class="thumbnail" data-bind="attr: { src: thumbnailUrl }" >
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script>
        var cdnBase = '<%= cdnBase %>';
        var movieInfo = <%- JSON.stringify(movie) %>
    </script>
    <script src="/public/js/lightbox.js"></script>
    <script src="/public/js/movie.js"></script>
</body>
